
<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h2>Welcome, <%= username %> 🎉</h2>
    <p>Login Successful</p>
</div>
</body>
</html>
